#Ignore all jupyter checkpoints
*.ipynb_checkpoints
*.DS_Store
mans
*.pdf
analysis/Untitled.ipynb
analysis/m2test.xlsx
analysis/m2train_raw.xlsx
analysis/positive_viruses.jpg
analysis/virus_clades_plots.ipynb
analysis/viruses.jpg
analysis/viruses.png
analysis/viruses.xlsx
analysis/~$m2test.xlsx
analysis/~$m2train_raw.xlsx
analysis/~$viruses.xlsx
model1/retune/
model3/old_code/
model3/reproduce_sub/
model3/review/